# Node.js
node_modules/
package-lock.json
yarn.lock

# Cypress
cypress/videos/
cypress/screenshots/
cypress/logs/
cypress/reports/
cypress/downloads

# Allure
allure-*

# IDEs and editors
.vscode/
.idea/
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage directory used by tools like istanbul
coverage/

# Miscellaneous
.env
!.env.example