# Example cypress.env to avoid exposing sensitive data in the code


# step by step:
- Create a file named cypress.env.json at the root of the project.
- Include the valid data (see README for details).

{
    "baseUrl": "https://www.saucedemo.com",
    "email": "standard_user",
    "password": "secret_sauce"
}